@model ProProsecco.Models.Wine.WineGetModel

@{
    ViewData["Title"] = "Wina";
}

<div class="container">
    <div class="row">
        <div class="col-6 border-bottom-gold py-3">
            <h1>Wino</h1>
        </div>
        <div class="col-12 text-justify py-3">
            <q>
                <cite>
                    <b>Wino</b> – napój alkoholowy uzyskiwany w wyniku fermentacji moszczu winogronowego.
                    <br /><br />

                    Istnieje wiele rodzajów win, co związane jest z mnogością odmian winorośli, oddziaływaniem środowiska na ich wzrost i różnymi technikami winifikacji (przekształcania winogron w wino). Można wyróżnić wina białe, różowe i czerwone. Ze względu na zawartość cukru można je podzielić na wytrawne, półwytrawne, półsłodkie i słodkie. Mogą to być wina musujące lub niemusujące. Nauką zajmującą się produkcją wina jest enologia.<br /><br />

                    Wino składa się z wody, etanolu, glicerolu, polisacharydów oraz różnych kwasów i związków fenolowych. Poza tym w winie znajdują się sole mineralne i witaminy. Łącznie zawiera ponad tysiąc substancji, nie wszystkie są dobrze poznane.
                </cite>
            </q>
            -
            <a href="https://pl.wikipedia.org/wiki/Wino" target="_blank">
                Wikipedia
            </a>
        </div>
        <div class="col-12 text-justify py-3">
            Motto panujące na stronie:
            <b>
                <q>
                    <cite>
                        Wino to nauczyciel smaku, wyzwoliciel duszy i światło inteligencji
                    </cite>
                </q>
                - Paul Claudel
            </b>

            <img class="img-fluid d-block mx-auto w-50" src="~/img/logo_pro_prosecco.png" alt="Logo strony ProProsecco" />

            <h4 class="py-3">
                Serwis ten jest jedynie pracą inżynierską. Składanie zamówień to fikcja, robienie zakupów na tej stronie nie wiąże się żadnymi kosztami nakładanymi na kupującego.
            </h4>
        </div>
    </div>
</div>