@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-5">
            <h1>@ViewData["Title"]</h1>
            <section>
                <form id="account" method="post">
                    <hr />
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Zaloguj</button>
                    </div>
                    <div class="form-group">
                        <p>
                            Nie masz konta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-12 col-md-6 mt-5 mt-md-0 d-flex justify-content-center">
            <img class="img-fluid" src="~/img/logo_pro_prosecco.png" alt="Logo strony ProPosecco" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
